<h1>New game</h1>

<ul class="list-of-letters">
  <% @letters.each do |letter| %>
    <li class="ng-letters">
      <p><%= letter %></p>
    </li>
  <% end %>
</ul>

<form action="/score" method="POST" data-turbo="false">
  <label for="word">Write down the longest word you can make from the letters above!</label>
  <input type="text" placeholder="Insert your longest word here!" name="word">
  <input type="submit">
  <%= hidden_field_tag :letters, @letters %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
